[mat-dialog-draggable-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 10px;
  background: #4294c1;
  color: #fff;
  cursor: move;
}

div #deviceViewer-div {
  position:fixed;
  bottom: 25px;
  left: 5px;
  z-index:3;
}

div #deviceViewer-div button {
  margin-bottom: 3px;
}